header {
    width: 100%;

    .header-wrapper {
        width: 100%;
        padding: 25px 0px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 180px;

        .wrapper-navigation {
            display: flex;
            flex-direction: row;
            gap: 30px;

            svg {
                font-size: 2.5rem;
            }
        }
    }
}

@media screen and (max-width: 1580px) {
    header {
        .header-wrapper {
            width: 100%;
            padding: 25px 0px;
    
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            .wrapper-navigation {
                .wrapper-links {
                    display: none;
                }
        
                .wrapper-switch {
                    display: none;
                }
        
                svg {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1585px) {
    .wrapper-navigation {
        svg {
            display: none;
            font-size: 2.5rem;
        }
    }
}

@media screen and (max-width: 320px) {
    header {

        .header-wrapper {
            justify-content: center;
            align-items: center;
        }
    }
}
