@import '../../variables.scss';

.wrapper-switch {
    padding: 0px 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;

    border-left: 3px solid $color_dark;

    span {
        cursor: pointer;
    }

    .switch-language {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.025rem;
        color: $color_links;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 18px;
    
        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
        }
    
        .slider:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 13px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            transition: .4s;
        }
    
        input:checked+.slider {
            background-color: $color_switch;
        }
    
        input:focus+.slider {
            box-shadow: 0 0 1px $color_switch;
        }
    
        input:checked + .slider:before {
            transform: translateX(27px) rotateZ(90deg);
        }
    
        // .slider.round {
        //     border-radius: 30px;
        // }
    
        // .slider.round:before {
        //     border-radius: 50%;
        // }
    
    }
}
