@import '../../variables.scss';

.container-submodal {
    width: 100vw;
    height: 100vh;

    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: 0.3s all;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    .modal-wrapper {
        padding: 25px;
        width: 400px;

        background: white;

        transform: translateX(0px);
        transition: 0.4s all;

        .wrapper-header {
            padding: 0px 0px 15px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            svg {
                width: 5%;
                font-size: 1.3rem;
                color: $color_links;

                &:hover {
                    cursor: pointer;
                }
            }

            .container-header {
                padding: 0;

                span {
                    color: $color_links;
                    font-size: 1.8rem;
                    font-weight: 600;
                }
            }
        }

        &.active {
            transform: translateX(560px);

            .container-text {
                width: 85%;
            }
        }
    }
}