@import '../../variables.scss';

.container-joboffer {
    margin: 80px 0px 0px;

    width: 100%;
    height: 650px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.2);

    .joboffer-image {
        width: 50%;
        height: 100%;

        .wrapper-carousel-item {
            width: 100%;
            height: 100%;

            // img {
            //     object-fit: contain;
            // }
        }

    }

    .joboffer-form {
        width: 50%;

        display: flex;
        flex-direction: row;

        form {
            width: 100%;
            padding: 0px 80px;

            display: flex;
            flex-direction: column;
            gap: 15px;

            .container-header {
                width: 75%;
                padding: 0;
            }

            .container-text {
                width: 55%;
            }

            .container-input {
                input {
                    width: 340px;
                    padding: 15px;
                    font-size: 1rem;
                }
            }

            .container-textarea {
                textarea {
                    width: 340px;
                    height: 100px;

                    padding: 15px;
                    font-size: 1rem;
                }
            }

            .container-button {
                padding: 10px 0px;
                
                button {
                    width: 372px;
                }
            }

            .file-wrapper {
                input[type="file"] {
                    display: none;
                }

                .custom-file-upload {
                    width: 372px;
                    padding: 10px 15px;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    border: 1px solid $color_links;
                    box-sizing: border-box;
                    cursor: pointer;

                    font-size: 1rem;

                    svg {
                        background: none;
                        width: 30px;
                    }
                }
            }
        }
    }

}