@import '../../variables.scss';

.container-subheader {
    height: 640px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;

    .subheader-wrapper {
        position: relative;
        height: 80%;

        .wrapper-carousel-item {
            height: 100%;
            
            img {
                width: 100%;
                height: 100%;
            }
        }


        span {
            width: 95%;
            padding: 30px 0px 30px 32px;

            position: absolute;
            z-index: 1;
            top: 550px;
            opacity: 0;

            color: rgba($color: $color_white, $alpha: .9);
            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: 0.025rem;

            transition: all 0.1s ease-out;
        }

        &:hover {
            span {
                opacity: 1;
            }
        }
    }
}

@media screen and (min-width: 795px) {
    .container-subheader {
        height: 260px;
    }
}

@media screen and (min-width: 1075px) {
    .container-subheader {
        height: 360px;
    }
}

@media screen and (max-width: 1024px) {
    .container-subheader {
        height: 340px;
    }
}

@media screen and (min-width: 1200px) {
    .container-subheader {
        height: 400px;
    }
}

@media screen and (min-width: 1400px) {
    .container-subheader {
        height: 475px;
    }
}

@media screen and (min-width: 1475px) {
    .container-subheader {
        height: 500px;
    }
}

@media screen and (min-width: 1545px) {
    .container-subheader {
        height: 520px;
    }
}

@media screen and (min-width: 1610px) {
    .container-subheader {
        height: 545px;
    }
}

@media screen and (min-width: 1685px) {
    .container-subheader {
        height: 570px;
    }
}

@media screen and (min-width: 1760px) {
    .container-subheader {
        height: 595px;
    }
}

@media screen and (min-width: 1835px) {
    .container-subheader {
        height: 620px;
    }
}

@media screen and (min-width: 1910px) {
    .container-subheader {
        height: 640px;
    }
}

@media screen and (min-width: 320px) {
    .container-subheader {
        height: auto;
    }
}