@import './variables.scss';

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background: $color_bg;
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: $color_links;
}