$color_teal: rgb(217, 228, 221);
$color_pastel: rgb(251, 247, 240);  
$color_grey: rgb(205, 201, 195);  
$color_dark: rgb(85, 85, 85);

$color_white: rgb(255, 255, 255);
$color_black: rgb(0, 0, 0);

$color_links: rgb(12, 12, 12);
$color_links_hover: rgb(128, 127, 124);

$color_switch: rgb(128, 127, 124);

$color_bg: rgb(251, 247, 240);